:root {
  --brandcolor: #2e2f42;
  --addresscolor: #434455;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffff;
  color: #434455;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* Header */

.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo-span {
  color: var(--brandcolor);
}

.header-ul-li-a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brandcolor);
  font-style: normal;
}

.header-ul-li-a:hover,
.header-ul-li-a:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.header-address-ul-li-a {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--addresscolor);
}

.header-address-ul-li-a:hover,
.header-address-ul-li-a:focus {
  color: #404bbf;
}
